.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
          "navbar   navbar"
          "main-nav content";
}

.container {
  padding: $default-padding;
}