@import "frontend";

a.btn {
  padding-top: 0;
}

.card__header {
  &, & h3 {
    font-size:     1rem;
    margin-bottom: 0;
  }
}

.main-nav,
.navbar {
  color: @_color-white;

  a {
    color: inherit;
  }
}