.product {
  &--grid {
    position:         relative;
    margin-bottom:    @grid-gutter-width;
    background-color: @_color-white;
    min-height:       calc(~"100% - " @grid-gutter-width);

    .priduct__price {
      position:         absolute;
      right:            -10px;
      bottom:           60px;
      transform:        rotate(90deg);
      transform-origin: 50% 50%;
      background-color: @color-danger;
      padding:          @default-padding-small;
      font-size:        2rem;
      height:           50px;
    }
  }

  &__image {
    padding: @default-padding;
  }

  &__overlay {
    position:         absolute;
    bottom:           0;
    left:             0;
    right:            0;
    padding:          @grid-gutter-width;
    padding-right:    100px;
    background-color: rgba(0, 0, 0, 0.65);
    color:            @_color-white;
  }

  &__title {
    font-size:   2rem;
    font-weight: bold;
    color:       @_color-white;

    a, a:hover {
      color: inherit;
    }
  }

  &__description {
    line-height: 1.5;
  }

  &__link {
    position: absolute;
    top:      0;
    height:   100%;
    left:     0;
    right:    0;
  }
}